{%load mainApp_tags %}

<!DOCTYPE html>
<html lang="en">
    



<head>
    
    
    



    <script type="text/javascript">
        var FOX_pagedescriptor = window.FOX_pagedescriptor = {breadcrumb:"/politics", isMgmt: "false", site: "fn2", cq: "true" };
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    


			    

<title>{{article.title}}</title>
<meta name="dc.title" content="Pence slams 'disappointing' Obama speech, says he'd take lie detector to prove he didn't write NYT Op-Ed">
<meta name="description" content="Vice President Mike Pence lambasted Barack Obama's return to the campaign trail in an interview with Fox News Sunday, telling host Chris Wallace that the former president's rhetoric was a very disappointing attempt to paper over a legacy pockmarked by major tax increases and a massive hike in the national debt.">
<meta name="dc.description" content="Vice President Mike Pence lambasted Barack Obama's return to the campaign trail in an interview with Fox News Sunday, telling host Chris Wallace that the former president's rhetoric was a very disappointing attempt to paper over a legacy pockmarked by major tax increases and a massive hike in the national debt.">
<meta name="dcterms.abstract" content="Vice President Mike Pence lambasted Barack Obama's return to the campaign trail in an interview with Fox News Sunday, telling host Chris Wallace that the former president's rhetoric was a very disappointing attempt to paper over a legacy pockmarked by major tax increases and a massive hike in the national debt.">
<meta name="dc.publisher" content="Fox News">
<meta name="dc.creator" content="Gregg Re">
<meta name="dc.date" content="2018-09-09">
<meta name="dcterms.created" scheme="dcterms.ISO8601" content="2018-09-09 12:25:02 EDT">
<meta name="dcterms.modified" scheme="dcterms.ISO8601" content="2018-09-09 12:25:02 EDT">
<meta name="dc.source" content="Fox News">
<meta name="dc.identifier" scheme="dcterms.URI" content="4749ff26-1518-4ff0-8533-0656bea57b6d">
<meta name="dc.subject" content="">
<meta name="keywords" content="">
<link rel="shorturl" href="https://fxn.ws/2QgSvnx">
<link rel="canonical" href="http:https://www.foxnews.com/politics/2018/09/09/pence-slams-disappointing-obama-speech-says-hed-take-lie-detector-to-prove-didnt-write-nyt-op-ed.html">

    <link rel="amphtml" href="http:https://www.foxnews.com/politics/2018/09/09/pence-slams-disappointing-obama-speech-says-hed-take-lie-detector-to-prove-didnt-write-nyt-op-ed.amp.html">


<link rel="standout" href="http:https://www.foxnews.com/politics/2018/09/09/pence-slams-disappointing-obama-speech-says-hed-take-lie-detector-to-prove-didnt-write-nyt-op-ed.html"> 
<meta name="prism.aggregationType" content="subsection">
<meta name="prism.genre" content="">
<meta name="dc.type" scheme="dcterms.DCMIType" content="Text.Article">
<meta name="prism.channel" content="fnc">
<meta name="prism.section" content="politics">
<meta name="prism.subsection1" content="">
<meta name="prism.subsection2" content="">
<meta name="prism.subsection3" content="">
<meta name="prism.subsection4" content="">
<meta property="og:title" content="Pence slams 'disappointing' Obama speech, says he'd take lie detector to prove he didn't write NYT Op-Ed">
<meta property="og:description" content="Vice President Mike Pence lambasted Barack Obama's return to the campaign trail in an interview with Fox News Sunday, telling host Chris Wallace that the former president's rhetoric was a very disappointing attempt to paper over a legacy pockmarked by major tax increases and a massive hike in the national debt.">
<meta property="og:type" content="article">

    <link rel="image_src" href="http://a57.foxnews.com/media2.foxnews.com/BrightCove/694940094001/2018/09/08/0/0/694940094001_5832527777001_5832527502001-vs.jpg?ve=1">
    <meta property="og:image" content="http://a57.foxnews.com/media2.foxnews.com/BrightCove/694940094001/2018/09/08/0/0/694940094001_5832527777001_5832527502001-vs.jpg?ve=1">

<meta property="og:url" content="http:https://www.foxnews.com/politics/2018/09/09/pence-slams-disappointing-obama-speech-says-hed-take-lie-detector-to-prove-didnt-write-nyt-op-ed.html">
<meta property="og:site_name" content="Fox News">
<meta property="fb:pages" content="15704546335">


    
    
        <meta name="classification" content="/FOX NEWS/POLITICS/EXECUTIVE/White House,/FOX NEWS/POLITICS">
    
    
        <meta name="classification-isa" content="whitehouse,politics">
    

<meta property="fb:app_id" content="113186182048399">


<meta name="twitter:site" content="@foxnews">
<meta name="twitter:card" content="summary_large_image">

    <meta name="twitter:title" content="Pence slams 'disappointing' Obama speech, says he'd take lie detector to prove he didn't write NYT Op-Ed">
    <meta name="twitter:description" content="Vice President Mike Pence lambasted Barack Obama's return to the campaign trail in an interview with Fox News Sunday, telling host Chris Wallace that the former president's rhetoric was a very disappointing attempt to paper over a legacy pockmarked by major tax increases and a massive hike in the national debt.">
    <meta name="twitter:url" content="http:https://www.foxnews.com/politics/2018/09/09/pence-slams-disappointing-obama-speech-says-hed-take-lie-detector-to-prove-didnt-write-nyt-op-ed.html">
    <meta name="twitter:creator" content="@foxnews">
    
        <meta name="twitter:image" content="http://a57.foxnews.com/media2.foxnews.com/BrightCove/694940094001/2018/09/08/0/0/694940094001_5832527777001_5832527502001-vs.jpg?ve=1">
    

<meta name="dc.format" scheme="dcterms.IMT" content="text/html">
<meta name="dc.language" scheme="dcterms.RFC4646" content="en-US">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="content-language" content="en">
<meta name="livefyreconfig" collectionMeta="eyJhbGciOiJIUzI1NiJ9.eyJ0YWdzIjoiZm94LW5ld3MscG9saXRpY3MsZm94LW5ld3MscG9saXRpY3MsZXhlY3V0aXZlLHdoaXRlLWhvdXNlIiwidGl0bGUiOiJQZW5jZSBzbGFtcyAnZGlzYXBwb2ludGluZycgT2JhbWEgc3BlZWNoLCBzYXlzIGhlJ2QgdGFrZSBsaWUgZGV0ZWN0b3IgdG8gcHJvdmUgaGUgZGlkbid0IHdyaXRlIE5ZVCBPcC1FZCIsImNoZWNrc3VtIjoiOTEyNWI3MjZjMjFlNDFjMjQyZTM1NWY3MDNmMDU5ZGMiLCJhcnRpY2xlSWQiOiI0NzQ5ZmYyNi0xNTE4LTRmZjAtODUzMy0wNjU2YmVhNTdiNmQiLCJ1cmwiOiJodHRwOi8vd3d3LmZveG5ld3MuY29tL3BvbGl0aWNzLzIwMTgvMDkvMDkvcGVuY2Utc2xhbXMtZGlzYXBwb2ludGluZy1vYmFtYS1zcGVlY2gtc2F5cy1oZWQtdGFrZS1saWUtZGV0ZWN0b3ItdG8tcHJvdmUtZGlkbnQtd3JpdGUtbnl0LW9wLWVkLmh0bWwifQ.Pe0zXiVsCLvITPwCGs6Q4Y1_h2aCZwvNfSH94jJfcGQ" checksum="9125b726c21e41c242e355f703f059dc" articleId="4749ff26-1518-4ff0-8533-0656bea57b6d" siteId="310256" enable="true"/>
<meta name="livefyreblogconfig" collectionMeta="eyJhbGciOiJIUzI1NiJ9.eyJ0YWdzIjoiZm94LW5ld3MscG9saXRpY3MsZm94LW5ld3MscG9saXRpY3MsZXhlY3V0aXZlLHdoaXRlLWhvdXNlIiwidGl0bGUiOiJQZW5jZSBzbGFtcyAnZGlzYXBwb2ludGluZycgT2JhbWEgc3BlZWNoLCBzYXlzIGhlJ2QgdGFrZSBsaWUgZGV0ZWN0b3IgdG8gcHJvdmUgaGUgZGlkbid0IHdyaXRlIE5ZVCBPcC1FZCIsImNoZWNrc3VtIjoiYjNlMjQxOThhZTJmMDNjNjNmZWM2ZTFjMDg5ZTUyNzMiLCJ0eXBlIjoibGl2ZWJsb2ciLCJhcnRpY2xlSWQiOiI0NzQ5ZmYyNi0xNTE4LTRmZjAtODUzMy0wNjU2YmVhNTdiNmRibG9nIiwidXJsIjoiaHR0cDovL3d3dy5mb3huZXdzLmNvbS9wb2xpdGljcy8yMDE4LzA5LzA5L3BlbmNlLXNsYW1zLWRpc2FwcG9pbnRpbmctb2JhbWEtc3BlZWNoLXNheXMtaGVkLXRha2UtbGllLWRldGVjdG9yLXRvLXByb3ZlLWRpZG50LXdyaXRlLW55dC1vcC1lZC5odG1sIn0.r7x-7XHa_xxdcfwleLcNYzsBAB6nwUOidNVM2xX_Qjc" checksum="b3e24198ae2f03c63fec6e1c089e5273" articleId="4749ff26-1518-4ff0-8533-0656bea57b6dblog" siteId="310256" enable="false"/>
<meta name="livefyrereviewsconfig" collectionMeta="eyJhbGciOiJIUzI1NiJ9.eyJ0YWdzIjoiZm94LW5ld3MscG9saXRpY3MsZm94LW5ld3MscG9saXRpY3MsZXhlY3V0aXZlLHdoaXRlLWhvdXNlIiwidGl0bGUiOiJQZW5jZSBzbGFtcyAnZGlzYXBwb2ludGluZycgT2JhbWEgc3BlZWNoLCBzYXlzIGhlJ2QgdGFrZSBsaWUgZGV0ZWN0b3IgdG8gcHJvdmUgaGUgZGlkbid0IHdyaXRlIE5ZVCBPcC1FZCIsImNoZWNrc3VtIjoiNmVjM2EyYzA4ZjYwNGE1YmFhZTcwOWJiZjIwYTAyMDgiLCJ0eXBlIjoicmV2aWV3cyIsImFydGljbGVJZCI6IjQ3NDlmZjI2LTE1MTgtNGZmMC04NTMzLTA2NTZiZWE1N2I2ZHJldmlld3MiLCJ1cmwiOiJodHRwOi8vd3d3LmZveG5ld3MuY29tL3BvbGl0aWNzLzIwMTgvMDkvMDkvcGVuY2Utc2xhbXMtZGlzYXBwb2ludGluZy1vYmFtYS1zcGVlY2gtc2F5cy1oZWQtdGFrZS1saWUtZGV0ZWN0b3ItdG8tcHJvdmUtZGlkbnQtd3JpdGUtbnl0LW9wLWVkLmh0bWwifQ.Ippue5sM4C9znI_nwHXHoCjLouEuddUW1NWsGpnQ_T0" checksum="6ec3a2c08f604a5baae709bbf20a0208" articleId="4749ff26-1518-4ff0-8533-0656bea57b6dreviews" siteId="310256" enable="true"/>

<meta name="pagetype" content="article"/>


	
	
		<meta name="robots" content="noarchive, noodp ">
	


<meta http-equiv="x-dns-prefetch-control" content="on"> 
<link rel="dns-prefetch" href="//a57.foxnews.com"> 
<link rel="dns-prefetch" href="//global.fncstatic.com"> 
<link rel="dns-prefetch" href="//images.outbrain.com"> 
<link rel="dns-prefetch" href="//widgets.outbrain.com"> 
<link rel="dns-prefetch" href="//widget-cdn.rpxnow.com"> 
<link rel="dns-prefetch" href="//hpr.outbrain.com"> 
<link rel="dns-prefetch" href="//metrics.foxnews.com"> 
<link rel="dns-prefetch" href="//cdn.tt.omtrdc.net"> 
<link rel="dns-prefetch" href="//foxnews.demdex.net"> 
<link rel="dns-prefetch" href="//static.chartbeat.com"> 
<link rel="dns-prefetch" href="//cdn.taboola.com"> 
<link rel="dns-prefetch" href="//assets.tapad.com"> 
<link rel="dns-prefetch" href="//www.googletagservices.com"> 
<link rel="dns-prefetch" href="//cdn.livefyre.com"> 
<link rel="dns-prefetch" href="//foxnews.tt.omtrdc.net"> 
<link rel="dns-prefetch" href="//log.outbrain.com"> 
<link rel="dns-prefetch" href="//cdn.optimizely.com"> 
<link rel="dns-prefetch" href="//b.scorecardresearch.com">



<link rel="icon" type="image/jpg" href="https://bashooka.com/wp-content/uploads/2012/08/black-and-white-logo-designs-39.png">
  

  
    <link rel="schema.dc" href="http://purl.org/dc/elements/1.1/">
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Roboto:300,400,700,900' rel='stylesheet' type='text/css'>
 	<link rel="schema.dcterms" href="http://purl.org/dc/terms/">
    <link rel="schema.prism" href="http://prismstandard.org/namespaces/basic/2.1/"> 
    <link rel="schema.iptc" href="http://iptc.org/std/nar/2006-10-01/">   
    <link rel="shortcut icon" href="http://global.fncstatic.com/static/v/fn2/img/favicon.ico">   
    
       
    
    <script src="http://global.fncstatic.com/static/orion/scripts/core/ag.core.js?201701171314"></script>
	<script src="http://global.fncstatic.com/static/isa/core.js?201701171314"></script>
	
        
    




<script src="http://global.fncstatic.com/static/orion/scripts/core/pages/articles.new/loader.js?201701171314"></script>
<link href="http://global.fncstatic.com/static/orion/styles/css/fox-news/article-new.rs.css?201701171314" rel="stylesheet" type="text/css">





<script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "mainEntityOfPage": "http:https://www.foxnews.com/politics/2018/09/09/pence-slams-disappointing-obama-speech-says-hed-take-lie-detector-to-prove-didnt-write-nyt-op-ed.html",
        "headline": "Pence slams &#x27;disappointing&#x27; Obama speech, says he&#x27;d take lie detector to prove he didn&#x27;t write NYT Op-Ed",
        "datePublished": "Sun Sep 09 08:45:00 EDT 2018",
        "dateModified": "Sun Sep 09 08:45:00 EDT 2018",
        "description": "Vice President Mike Pence lambasted Barack Obama&#x27;s return to the campaign trail in an interview with &quot;Fox News Sunday,&quot; telling host Chris Wallace that the former president&#x27;s rhetoric was a &quot;very disappointing&quot; attempt to paper over a legacy pockmarked by major tax increases and a massive hike in the national debt.",
        "author": {
          "@type": "Person",
          "name": "Gregg Re"
        },
        "publisher": {
          "@type": "Organization",
          "name": "Fox News",
          "logo": {
            "@type": "ImageObject",
            "url": "http://global.fncstatic.com/static/cq/fn/img/global/fox-news-logo.png",
            "width": 133,
            "height": 60
          }
        },
        "image": {
          "@type": "ImageObject",
          "url": "http://a57.foxnews.com/media2.foxnews.com/BrightCove/694940094001/2018/09/08/696/392/694940094001_5832527777001_5832527502001-vs.jpg?ve=1&tl=1",
          "height": 392,
          "width": 696
        }
      }
</script>


<script type="application/ld+json">
	{
		"@context": "http://schema.org/", 
		"@type": "WebPage",
		"name": "Pence slams &#x27;disappointing&#x27; Obama speech, says he&#x27;d take lie detector to prove he didn&#x27;t write NYT Op-Ed", 
		"speakable": {"@type": "SpeakableSpecification","cssSelector": [".head1", ".speakable"]}, 
		"url": "http:https://www.foxnews.com/politics/2018/09/09/pence-slams-disappointing-obama-speech-says-hed-take-lie-detector-to-prove-didnt-write-nyt-op-ed.html"
	}
</script>





  
       
       
</head>


    
 
	
<body class="fn article-single">
	




    <div id="wrapper" class="wrapper">     	
	    



<header class="site-header nav-closed">

    
       	<a href='/'>
            <div class="branding">
            	<img src = "https://bashooka.com/wp-content/uploads/2012/08/black-and-white-logo-designs-39.png" width = "70" height="48">
		
            </div>
        </a>

	<div class="nav-row nav-row-upper">
		<div class="inner">
			<div class="primary-nav tablet-desktop">
				<nav id="main-nav">
					<ul>
						<li class="menu-us"><a href="/cat/politics/">Politics</a></li>
						<li class="menu-world"><a href="/cat/world/">World</a></li>
						<li class="menu-opinion"><a href="/cat/business/">Business</a></li>
						<li class="menu-politics"><a href="/cat/health/">Health</a></li>
						<li class="menu-entertainment"><a href="/cat/entertainment/">Entertainment</a></li>
						<li class="menu-business"><a href="/cat/sports/">Sports</a></li>
						<li class="menu-lifestyle"><a href="/cat/lifestyle/">Lifestyle</a></li>
						<li class="menu-tv"><a href="/cat/technology">Technology</a></li>
						<li class="menu-radio"><a href="/cat/food/">Food</a></li>
						<li class="menu-more"><a href="#" class="js-menu-toggle">More</a></li>
					</ul>
				</nav>
			</div>

			<div class="meta">
				<div class="weather">
					<a href="http:https://www.foxnews.com/weather/your-weather/index.html">
						<div class="info">
							<div class="location"></div>
							<div class="condition"><span class="icon"></span></div>
						</div>
						<div class="temp"></div>
					</a>
				</div>		
				<div class="search-toggle tablet-desktop">
					<a href="#" class="js-focus-search">Expand / Collapse search</a>
				</div>
				<!-- show image when logged in -->
				<div class="network-access logged-out logged-in" id="account">
					<div class="user-profile user-login button">
						<a href="#" class="login" data-omtr-intcmp="hp1navlg">Login</a>
					</div>
				</div>
				<!-- user div switch -->

				<div class="button watch">
				</div>

				<div class="menu mobile">
					<a href="#" class="js-menu-toggle">☰</a>
				</div>
			</div>
		</div>
	</div>
 		




    
   	
		<div class="nav-row nav-row-lower tablet-desktop">
			<div class="inner">
				<div class="secondary-nav">
					<nav class="hot-topics menu-subnav" id="menu-subnav">
						<span class="subnav-title">Hot Topics</span>
						<ul class="rotate-items">
						{% for hot in hot_topics %}
							<li style=""><a href="{{hot.get_absolute_url}}" data-omtr-intcmp="hp1ht_1" data-adv="hp1ht">{{hot.title|truncatewords_html:6}}</a></li>
						{% endfor %}
						</ul>					
					</nav>
				</div>
			</div>
		</div>		
	

  		
	
	<div class="expandable-nav">
		<div class="inner">
			<div class="search">
				<div class="search-wrap">
					<form action="{% url 'search' %}" method="get">
						<fieldset>
							<input type="text" placeholder="search hawkstarnews.com" name="q" class="resp_site_search" onblur="" onfocus="" autocomplete="off">
							<input type="submit" class="resp_site_submit" value="Search">
						</fieldset>
					</form>
				</div>
			</div>
		</div>
		<div class="section-nav">
			<div class="inner">


<nav class="mobile">
    <h6 class="nav-title">
        <a href="/">Main</a>
    </h6>
</nav>


<nav>
                            <h6 class="nav-title"><a href="/cat/politics/" data-omtr-intcmp="hp1ms1" data-adv="hp1ms">Politics</a></h6>
                            <ul>
                                <li class="nav-item"><a href="/subcat/politics/republican/" data-omtr-intcmp="hp1ms1_1" data-adv="hp1ms">Republican</a></li>
                                <li class="nav-item"><a href="/subcat/politics/democrat/" data-omtr-intcmp="hp1ms1_2" data-adv="hp1ms">Democrat</a></li>
                                <li class="nav-item"><a href="/subcat/politics/foreign-policy/" data-omtr-intcmp="hp1ms1_2" data-adv="hp1ms">Foreign Policy</a></li>
                                <li class="nav-item"><a href="/subcat/politics/elections/" data-omtr-intcmp="hp1ms1_2" data-adv="hp1ms">Elections</a></li>
                            
                            </ul>
                        </nav>
                        <nav>
                            <h6 class="nav-title"><a href="/cat/world/" data-omtr-intcmp="hp1ms2" data-adv="hp1ms">World</a></h6>
                            <ul>
                                <li class="nav-item"><a href="/subcat/world/headlines-world/" data-omtr-intcmp="hp1ms2_1" data-adv="hp1ms">Headlines</a></li>
                                <li class="nav-item"><a href="/subcat/world/environment/" data-omtr-intcmp="hp1ms1_2" data-adv="hp1ms">Environment</a></li>
                                <li class="nav-item"><a href="/subcat/world/religion/" data-omtr-intcmp="hp1ms1_2" data-adv="hp1ms">Religion</a></li>

                                
                            </ul>
                        </nav>
                        
                        <nav>
                            <h6 class="nav-title"><a href="/cat/business/" data-omtr-intcmp="hp1ms4" data-adv="hp1ms">Business</a></h6>
                            <ul>
                                <li class="nav-item"><a href="/subcat/business/hot-stories-business/" data-omtr-intcmp="hp1ms4_1" data-adv="hp1ms">Hot Stories</a></li>
                                <li class="nav-item"><a href="/subcat/business/markets/" data-omtr-intcmp="hp1ms4_1" data-adv="hp1ms">Markets</a></li>
                                <li class="nav-item"><a href="/subcat/business/business-leaders/" data-omtr-intcmp="hp1ms4_1" data-adv="hp1ms">Business Leaders</a></li>
                            </ul>
                        </nav>
                        <nav>
                            <h6 class="nav-title"><a href="/cat/health/" data-omtr-intcmp="hp1ms5" data-adv="hp1ms">Health</a></h6>
                            <ul>
                                <li class="nav-item"><a href="/subcat/health/cancer/" data-omtr-intcmp="hp1ms5_1" data-adv="hp1ms">Cancer</a></li>
                                <li class="nav-item"><a href="/subcat/health/alzheimer/" data-omtr-intcmp="hp1ms5_3" data-adv="hp1ms">Alzheimer</a></li>
                                <li class="nav-item"><a href="/subcat/health/healthy-living" data-omtr-intcmp="hp1ms5_4" data-adv="hp1ms">Healthy Living</a></li>
                                <li class="nav-item"><a href="subcat/health/mental-health" data-omtr-intcmp="hp1ms5_5" data-adv="hp1ms">Mental Health</a></li>
                               
                            </ul>
                        </nav>
                        <nav>
                            <h6 class="nav-title"><a href="/cat/entertainment" data-omtr-intcmp="hp1ms6" data-adv="hp1ms" target="_blank">Entertainment</a></h6>
                            <ul>
                                <li class="nav-item"><a href="/subcat/entertainment/hollywood/" data-omtr-intcmp="hp1ms6_1" data-adv="hp1ms" target="_blank">Hollywood</a></li>
                                <li class="nav-item"><a href="/subcat/entertainment/music/" data-omtr-intcmp="hp1ms6_2" data-adv="hp1ms" target="_blank">Music</a></li>
                                <li class="nav-item"><a href="/subcat/entertainment/celebrity-news/" data-omtr-intcmp="hp1ms6_2" data-adv="hp1ms" target="_blank">Celebrity News</a></li>

                            </ul>
                        </nav>
                        <nav>
                            <h6 class="nav-title"><a href="/cat/sports/" data-omtr-intcmp="hp1ms7" data-adv="hp1ms">Sports</a></h6>
                            <ul>
                                <li class="nav-item"><a href="/subcat/sports/football/" data-omtr-intcmp="hp1ms7_1" data-adv="hp1ms">Football</a></li>
                                <li class="nav-item"><a href="/subcat/sports/baseball/" data-omtr-intcmp="hp1ms7_2" data-adv="hp1ms">Baseball</a></li>
                                <li class="nav-item"><a href="/subcat/sports/nfl/" data-omtr-intcmp="hp1ms7_3" data-adv="hp1ms">NFL</a></li>
                                <li class="nav-item"><a href="/subcat/sports/wrestling" data-omtr-intcmp="hp1ms7_4" data-adv="hp1ms">Wrestling</a></li>
                                <li class="nav-item"><a href="/subcat/sports/cricket/" data-omtr-intcmp="hp1ms7_5" data-adv="hp1ms">Cricket</a></li>
                            </ul>
                        </nav>
                        <nav>
                            <h6 class="nav-title"><a href="/cat/lifestyle/" data-omtr-intcmp="hp1ms8" data-adv="hp1ms">Lifestyle</a></h6>
                            <ul>
                                <li class="nav-item"><a href="/subcat/lifestyle/mens-fashion/" data-omtr-intcmp="hp1ms8_1" data-adv="hp1ms">Men's Fashion</a></li>
                                <li class="nav-item"><a href="/subcat/lifestyle/womens-fashion/" data-omtr-intcmp="hp1ms8_2" data-adv="hp1ms">Women's Fashion</a></li>
                                <li class="nav-item"><a href="/subcat/lifestyle/kids-fashion/" data-omtr-intcmp="hp1ms8_3" data-adv="hp1ms">Kids' Fashion</a></li>
                            </ul>
                        </nav>
                        <nav>
                            <h6 class="nav-title"><a href="/cat/technology/" data-omtr-intcmp="hp1ms9" data-adv="hp1ms">Technology</a></h6>
                            <ul>
                                <li class="nav-item"><a href="/subcat/technology/headlines-technology" data-omtr-intcmp="hp1ms9_1" data-adv="hp1ms">Headlines</a></li>
                                <li class="nav-item"><a href="/subcat/technology/smartphones/" data-omtr-intcmp="hp1ms9_2" data-adv="hp1ms">Smartphones</a></li>
                                <li class="nav-item"><a href="/subcat/technology/computers/" data-omtr-intcmp="hp1ms9_4" data-adv="hp1ms">Computers</a></li>
                                <li class="nav-item"><a href="/subcat/technology/military-tech/" data-omtr-intcmp="hp1ms9_6" data-adv="hp1ms">Military Tech</a></li>
                            </ul>
                        </nav>

			</div>
		</div>
		
		<div class="header-lower">			
			 <div class="social-icons">
			     
		    </div>
		   <div class="legal">
		      <ul>
		         <li><a href="/terms/">Terms of Use</a></li>
		         <li><a href="/privacy/">Privacy Policy</a></li>
		      </ul>
		      <p class="copyright">This material may not be published, broadcast, rewritten, or redistributed. &copy;2018 hawkstar news. All rights reserved.</p>
		   </div>	  
		</div>
	</div>
	
        
    

</header>
 	
		




<div class="page">
	<div class="pre-content">
 		

		
		


 	
    
    
        
    		
	    		
	    		
		    		
				    
					
					
					
		    	
		    
	


		

 	</div>
		
	<div class="page-content">
	
		 <div class="row full">
			<main class="main-content">
		
				<article class="article-wrap has-video">
		
					



<header class="article-header">


	
	
		<div class="article-meta article-meta-upper">
	
			
	            
	            
	            
	            
	            
	                
	            
	        
			
			    <div class="eyebrow"><a href="{{article.subcategory.get_absolute_url}}">{{article.subcategory}}</a></div>
					
		    
				<div class="article-date">					
					{{article.created}}
				</div>
				
			
			
		</div>
        
		
		<h1 class="headline head1">{{article.title}}</h1>
		
		
		
		
			<div class="article-meta article-meta-lower">
				<div class="author-byline">
					
						<div class="author-headshot">
							<div class="m">
                                {% load thumbnail %}
                                {% thumbnail article.writer.dp "25" as im %}
								<img alt="Gregg Re" src="{{im.url}}">
                                {% endthumbnail %}
                                
							</div>
						</div>
										
						
									
							<span> By {{article.writer}} </span>	
						
						
						
				</div>
				
				<div class="article-social">
					<div class="social-icons">
						
					</div>
				</div>				
			</div>			
		
	
</header> 

					
					<div class="article-content-wrap sticky-columns">
		
						<div class="article-content">							
							<div class="article-body">
								





    
    
	
		
			
			
              <div class="featured featured-video video-ct">
	              <div class="contain">
		              	<div class="control">
							<a class="top" href="#"></a>
							<a class="close" href="#">close</a>
						</div>
	                    <div class="video-container">
	                                <img src="{{article.featured_photo.url}}" style="display:block; margin-left:auto; margin-right: auto; width:90%;" alt="hawk star news"/>
	                   </div>
	                   <div class="info">
	                            <div class="caption">
		                            <h4 class="title"></h4>
		                                <p></p>
	                        	</div>
					 </div>
				  </div>
              </div>
            
		 

    


{{article.content|markdown}}


								
								



 



       
       
        
              
              
              


              
          
  
          
              
              


 

	
		<div class="author-bio">
			<p>{{article.writer.bio}}</p>

		</div>
	

          
      
 
								
							</div>
							<div class="article-meta">
								




 
     
     
 

								
							</div>
							<footer class="article-footer">	
							   					
								




		                    	







								
 
					            
						            	



<div class="vendor-unit vendor-outbrain tablet-desktop"><div class="fox-ob-placement img-strip" data-article-placement="5" data-fbk="1" data-widget-id="AR_16"></div></div><!-- /outbrain -->
<div class="vendor-unit vendor-outbrain tablet-desktop"><div class="fox-ob-placement" data-article-placement="1" data-fbk="1" data-widget-id="AR_9"></div></div><!-- /outbrain -->

<div class="vendor-unit vendor-outbrain mobile">
    <div class="OUTBRAIN" data-widget-id="MB_3"></div>
</div>

<div class="vendor-unit vendor-yieldmo">
  <div class="ad-container mobile-tablet yieldmo">						
    <div class="ad cu" id="cu_article_4"></div>
  </div>
</div>

<div class="vendor-unit vendor-yieldmo">
	<div class="ad-container yieldmo" id="cu_article_3"></div>
</div>



<div class="vendor-unit vendor-outbrain tablet-desktop">
	<div class="OUTBRAIN" data-src="http:https://www.foxnews.com/politics/2018/09/09/pence-slams-disappointing-obama-speech-says-hed-take-lie-detector-to-prove-didnt-write-nyt-op-ed.html?obdraft=true" data-widget-id="AR_10" data-ob-template="foxnews"></div>
</div>




			           			
							</footer>								
						</div>						
						<aside class="sidebar sidebar-article sidebar-primary desktop">
							<div class="sticky-region">
								<div class="sidebar-columns">																	
									<div class="ad section">

		
		


 	
    
    
        
    		
	    		
	    		
		    		
				    
					
					
						

					
					
		    	
		    
	

</div>


    
    
    
          
    








    
    
    
		<section class="collection collection-trending">
       	 	<header class="heading">
            		<h4 class="title">Trending in {{article.subcategory}}</h4>
            </header>
            <div class="content">
	         	<ul>    
	         	
	            		 
	            		 	            		 
	            		 
	            		 
	            		 
	            {% for article in trending %}	 
	            		 
		 			 
				      <li>
					      	<article class="article story-">
							<div class="m">
								<a href="{{article.get_absolute_url}}">
									<picture>
										<source media="(max-width: 767px)" srcset="{{article.featured_photo.url}}">
										<source media="(min-width: 767px) and (max-width: 1023px)" srcset="{{article.featured_photo.url}}">
										<source media="(min-width: 1024px)" srcset="{{article.featured_photo.url}}">
										<img src="{{article.featured_photo.url}}" alt="{{article.title}}">
									</picture>
								</a>
							</div>
							<div class="info">
								<h5 class="title">
									<a href="{{article.get_absolute_url}}">{{article.title}}</a>
								</h5>
							</div>
							</article>	   
				      </li>
				
                {% endfor %}
	            		 
	            		 	            		 
	            		 
	            		 
	            		 
	            		 
	            		 
		 			 
				
				</ul>
			</div>
			
		</section>
    


		
		


 	
    
    
        
    		
	    		
	    		
		    		
						
				    
		    	
		    
	



		
		


 	
    
    
        
    		
	    		
	    		
		    
	



    
    
    
    <div class="embed-media advanced"><div class="vendor-unit vendor-outbrain desktop">
<div class="OUTBRAIN" data-src="" data-widget-id="AR_22" data-ob-template="foxnews" data-article-placement="9"></div>
</div></div>        
    


													
							    </div>
							</div>
						</aside>												
		             </div>	
		             							
				</article>
			</main>	
		</div>
	</div>
	<div class="post-content">
		

	</div>
</div>





	   	



    
       	
  		
       <footer class="site-footer">
            <div class="footer-upper section-nav">
                <div class="inner">
                    <nav>
                        <h6 class="nav-title"><a href="/cat/politics/" data-omtr-intcmp="hp1fs1" data-adv="hp1fs">Politics</a></h6>
                        <ul>
                            <li class="nav-item"><a href="/subcat/politics/republican/" data-omtr-intcmp="hp1fs1_1" data-adv="hp1fs">Republican</a></li>
                            <li class="nav-item"><a href="/subcat/politics/democrat/" data-omtr-intcmp="hp1fs1_2" data-adv="hp1fs">Democrat</a></li>
                            <li class="nav-item"><a href="/subcat/politics/foreign-policy/" data-omtr-intcmp="hp1fs1_3" data-adv="hp1fs">Foreign Policy</a></li>
                            <li class="nav-item"><a href="/subcat/politics/elections" data-omtr-intcmp="hp1fs1_4" data-adv="hp1fs">Elections</a></li>
                        </ul>
                    </nav>
                    <nav>
                        <h6 class="nav-title"><a href="/cat/world/" data-omtr-intcmp="hp1fs2" data-adv="hp1fs">World</a></h6>
                        <ul>
                            <li class="nav-item"><a href="/subcat/world/headlines-world/" data-omtr-intcmp="hp1fs2_1" data-adv="hp1fs">Headlines</a></li>
                            <li class="nav-item"><a href="/subcat/world/environment/" data-omtr-intcmp="hp1fs2_2" data-adv="hp1fs">Environment</a></li>
                            <li class="nav-item"><a href="/subcat/world/religion/" data-omtr-intcmp="hp1fs2_3" data-adv="hp1fs">Religion</a></li>
                        </ul>
                    </nav>
                    <nav class="mobile">
                        <h6 class="nav-title"><a href="/" data-omtr-intcmp="hp1fs3" data-adv="hp1fs">Main</a></h6></nav>
                    <nav>
                        <h6 class="nav-title"><a href="/cat/business/" data-omtr-intcmp="hp1fs4" data-adv="hp1fs">Business</a></h6>
                        <ul>
                            <li class="nav-item"><a href="/subcat/business/hot-stories-business/" data-omtr-intcmp="hp1fs4_1" data-adv="hp1fs">Hot Stories</a></li>
                            <li class="nav-item"><a href="/subcat/business/markets/" data-omtr-intcmp="hp1fs4_2" data-adv="hp1fs">Markets</a></li>
                            <li class="nav-item"><a href="/subcat/business/business-leaders/" data-omtr-intcmp="hp1fs4_3" data-adv="hp1fs">Business Leaders</a></li>
                        </ul>
                    </nav>
                    <nav>
                        <h6 class="nav-title"><a href="/cat/health/" data-omtr-intcmp="hp1fs5" data-adv="hp1fs">Health</a></h6>
                        <ul>
                            <li class="nav-item"><a href="/subcat/health/cancer/" data-omtr-intcmp="hp1fs5_1" data-adv="hp1fs">Cancer</a></li>
                            <li class="nav-item"><a href="/subcat/health/alzheimer/" data-omtr-intcmp="hp1fs5_2" data-adv="hp1fs">Alzheimer</a></li>
                            <li class="nav-item"><a href="/subcat/health/healthy-living/" data-omtr-intcmp="hp1fs5_3" data-adv="hp1fs">Healthy Living</a></li>
                            <li class="nav-item"><a href="/subcat/health/mental-health/" data-omtr-intcmp="hp1fs5_4" data-adv="hp1fs">Mental Health</a></li>
                        </ul>
                    </nav>
                    <nav>
                        <h6 class="nav-title"><a href="cat/entertainment/" data-omtr-intcmp="hp1fs6" data-adv="hp1fs" target="_blank">Entertainment</a></h6>
                        <ul>
                            <li class="nav-item"><a href="/subcat/entertainment/hollywood/" data-omtr-intcmp="hp1fs6_1" data-adv="hp1fs" target="_blank">Hollywood</a></li>
                            <li class="nav-item"><a href="/subcat/entertainment/music/" data-omtr-intcmp="hp1fs6_2" data-adv="hp1fs" target="_blank">Music</a></li>
                            <li class="nav-item"><a href="/subcat/entertainment/celebrity-news/" data-omtr-intcmp="hp1fs6_3" data-adv="hp1fs" target="_blank">Celebrity News</a></li>
                        </ul>
                    </nav>
                    <nav>
                        <h6 class="nav-title"><a href="/cat/sports/" data-omtr-intcmp="hp1fs7" data-adv="hp1fs">Sports</a></h6>
                        <ul>
                            <li class="nav-item"><a href="/subcat/sports/football/" data-omtr-intcmp="hp1fs7_1" data-adv="hp1fs">Football</a></li>
                            <li class="nav-item"><a href="/subcat/sports/baseball/" data-omtr-intcmp="hp1fs7_2" data-adv="hp1fs">Baseball</a></li>
                            <li class="nav-item"><a href="/subcat/sports/nfl/" data-omtr-intcmp="hp1fs7_3" data-adv="hp1fs">NFL</a></li>
                            <li class="nav-item"><a href="/subcat/sports/wrestling/" data-omtr-intcmp="hp1fs7_4" data-adv="hp1fs">Wrestling</a></li>
                            <li class="nav-item"><a href="/subcat/sports/cricket/" data-omtr-intcmp="hp1fs7_5" data-adv="hp1fs">Cricket</a></li>
                        </ul>
                    </nav>
                    <nav>
                        <h6 class="nav-title"><a href="/cat/lifestyle/" data-omtr-intcmp="hp1fs8" data-adv="hp1fs">Lifestyle</a></h6>
                        <ul>
                            <li class="nav-item"><a href="/subcat/lifestyle/mens-fashion/" data-omtr-intcmp="hp1fs8_1" data-adv="hp1fs">Men's Fashion</a></li>
                            <li class="nav-item"><a href="/subcat/lifestyle/womens-fashion/" data-omtr-intcmp="hp1fs8_2" data-adv="hp1fs">Women's Fashion</a></li>
                            <li class="nav-item"><a href="/subcat/lifestyle/kids-fashion/" data-omtr-intcmp="hp1fs8_3" data-adv="hp1fs">Kids' Fashion</a></li>
                        </ul>
                    </nav>
                    <nav>
                        <h6 class="nav-title"><a href="/cat/technology/" data-omtr-intcmp="hp1fs9" data-adv="hp1fs">Technology</a></h6>
                        <ul>
                            <li class="nav-item"><a href="/subcat/technology/headlines-technology/" data-omtr-intcmp="hp1fs9_1" data-adv="hp1fs">Headlines</a></li>
                            <li class="nav-item"><a href="/subcat/technology/smartphones/" data-omtr-intcmp="hp1fs9_2" data-adv="hp1fs">Smartphones</a></li>
                            <li class="nav-item"><a href="/subcat/technology/computers/" data-omtr-intcmp="hp1fs9_3" data-adv="hp1fs">Computers</a></li>
                            <li class="nav-item"><a href="/subcat/technology/military-tech/" data-omtr-intcmp="hp1fs9_4" data-adv="hp1fs">Military Tech</a></li>
                        </ul>
                    </nav>
                    
                </div>
            </div>
            <div class="footer-lower">
                <div class="social-icons">
                    
                </div>
                <div class="legal">
                    <ul>
                        <li><a href="/terms/">Terms of Use</a></li>
                        <li><a href="/privacy/">Privacy Policy</a></li>
                    </ul>
                    <p class="copyright">This material may not be published, broadcast, rewritten, or redistributed. ©2018 hawkstar news. All rights reserved.</p>
                </div>
            </div>
        </footer>



	    



<noscript>
    <img src="http://metrics.foxnews.com/b/ss/foxnews/1/H22.1--NS/1536510493656?pageName=politics:subsection:article&g=http:https://www.foxnews.com/politics/2018/09/09/pence-slams-disappointing-obama-speech-says-hed-take-lie-detector-to-prove-didnt-write-nyt-op-ed.html" style="display:none;" width="0" height="0" border="0" alt="">
    <img src="//secure-us.imrworldwide.com/cgi-bin/m?ci=us-801796h&amp;cg=0&amp;cc=1&amp;si=http:https://www.foxnews.com/politics/2018/09/09/pence-slams-disappointing-obama-speech-says-hed-take-lie-detector-to-prove-didnt-write-nyt-op-ed.html&amp;ts=noscript&amp;rnd=1536510493656" style="display:none;" width="0" height="0" border="0" alt="">
    <img src="http://b.scorecardresearch.com/p?c1=2&c2=9013181&c3=&c4=http:https://www.foxnews.com/politics/2018/09/09/pence-slams-disappointing-obama-speech-says-hed-take-lie-detector-to-prove-didnt-write-nyt-op-ed.html&c5=&c6=&c15=&cv=2.2&cj=1" style="display:none;" width="0" height="0" border="0" alt="">
</noscript>

	     <script type="text/javascript"> (function(FNC){ if (FNC.Loader) { FNC.Loader.init(); } }(window.FNC || {})); </script>	    
    </div>    
</body>

</html>